* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b0f1a;
  color: #fff;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

.logo {
  color: #00ffcc;
  font-size: 22px;
  font-weight: bold;
}

nav a {
  color: #fff;
  margin-left: 30px;
  text-decoration: none;
  font-size: 14px;
}

nav a:hover {
  color: #00ffcc;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.content {
  max-width: 500px;
}

.content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.content h1 span {
  color: #00ffcc;
}

.content p {
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 25px;
}

.social i {
  font-size: 20px;
  margin-right: 15px;
  color: #00ffcc;
  cursor: pointer;
}

button {
  margin-top: 25px;
  padding: 12px 28px;
  border: none;
  background: #00ffcc;
  color: #000;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

/* PROFILE */
.profile {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  padding: 5px;
  background: linear-gradient(135deg, #00ffcc, #0066ff);
}

.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background: #000;
}

.home-sci a {
  font-size: 24px;
  color: #333;
  margin-right: 15px;
  transition: 0.3s;
}

.home-sci a:hover {
  color: #d44638; /* Gmail red */
}

